.btn {
  display: inline-block;
  width: 100%;
  padding: 16px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;

  @include breakpoint-up(tablet) {
    max-width: 300px;
  }
}

.btn--main {
  background-color: transparent;
  border: 3px solid $color-pink;
  border-radius: 30px;
  color: $color-pink;

  &:hover {
    background-color: $color-pink;
    color: #ffffff;
  }

  &:active span {
    opacity: 0.3;
  }
}

.btn--submit {
  padding: 25px;
  background-color: #2aab6d;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  text-transform: uppercase;

  &:disabled {
    background-color: #e5e5e5;
    cursor: default;
  }

  &:not([disabled]):hover {
    background-color: #1c9b5e;
  }

  &:not([disabled]):active span {
    opacity: 0.3;
  }
}

.btn--cancel {
  background-color: transparent;
  color: $color-blue;
  border-color: $color-blue;
  border-radius: 30px;
  opacity: 0.1;

  &:hover {
    opacity: 0.3;
  }

  &:active {
    background-color: $color-blue;
    color: #ffffff;
  }
}
